HOST=127.0.0.1
PORT=3771
PUBLIC_ORIGIN=https://vaelinya.uk
SERVICE_NAME=lina-of-vaelinya-bot
ALLOWED_EMAIL=post@toiletrage.co.uk
LOG_LINES=40
CF_ACCESS_TEAM_DOMAIN=https://purple-cake-ea44.cloudflareaccess.com
CF_ACCESS_AUD=PASTE_CLOUDFLARE_ACCESS_AUD_TAG_HERE
